<div *ngIf="globals.logged && !hideSubmit">
  <h4 class="mt-4">Submit a post</h4>
  <hr>
  <form (submit)="submit()" ngNativeValidate>
      <div class="form-group">
      <label for="title">Title: </label>
      <input type="text" class="form-control" [(ngModel)]="dataSendItem.title" name="title" required>
    </div>
    <div class="form-group">
      <label for="body">Contents: </label>
      <textarea class="form-control" rows="3" [(ngModel)]="dataSendItem.body" name="body" required></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Tags: </label>
      <input type="tags" [(ngModel)]="dataSendItem.tags" name="tags" placeholder="Comma separated tags" class="form-control">
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary"> 
    </div>
    <div [class.show-feedback]="error" class="invalid-feedback">{{ error }}</div>
  </form>
  <hr>
</div>


<div *ngFor="let post of dataList">
  <!-- Title -->
  <h2 class="mt-4">{{ post.title }}</h2>

  <!-- Author -->
  <p class="lead">
    by
    <a href="#" routerLink="/users/id/{{ post.author._id }}">{{ post.author.name }}</a>
  </p>
  <!-- Date/Time -->
  <p>Posted on {{ post.created | date:'full' }} <span *ngIf="post.edited">Last edit on {{ post.edited | date:'full' }}</span></p>

  <!-- Tags -->
  <p>Tags: <span class="badge badge-info tag" *ngFor="let t of post.tags"><a href="#" routerLink="/posts/tag/{{ t }}">{{ t }}</a></span></p>
  
  <hr>

  <!-- Post Content -->
  <p class="lead">{{ post.body }}</p>

  <!-- Post Comments -->
  <a href="#" routerLink="/posts/id/{{ post._id }}">Comments: {{ post.comments.length }}</a>

  <hr>
</div>


<!-- TODO pagination -->



