<!-- Search Widget -->
<form>
  <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control no-right-border-radius" name="terms" [(ngModel)]="dataSendItem.terms" placeholder="Search for..." required>
        <span class="input-group-btn">
          <button class="btn btn-secondary no-left-border-radius" type="button" (click)="submit()">Go!</button>
        </span>
      </div>
    </div>
  </div>
</form>